.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px;
    margin-top: 100px;
    background-color: rgb(255, 249, 240);
}
.image-container {
    flex: 1;
}
.image-container img {
    width: 100%;
}
.text-container {
    flex: 1;
}
.text-container p.title {
    color: #1E1E1E;
    font-size: 46px;
    text-align: left;
    margin: 30px 0;
}
.about .badge {
    padding: 10px 20px;
    border-radius: 183px;
    background: rgba(197, 224, 255, 0.45);
    color: #4261CF;
}
@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .about {
        padding: 50px;
    }
}
@media screen and (max-width: 425px) {
    .about {
        padding: 30px;
    }
}