footer {
    background: #000;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 100px;
}
footer ul {
    padding: 0;
}
footer ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .socials {
    color: #fff;
}
footer .social-icons {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 750px) {
    footer {
        padding: 100px 20px;
    }
}